# Build and Release Folders
bundle.js
package-lock.json
**.env

# Other files and folders
node_modules
.nyc_output
.vscode
.coveralls.yml
coverage

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
frontend/public/bundle.js
